* {
    font-family: 'Mukta', sans-serif;
}

.container-header {
    background-color: grey;
}

.container-content {
    padding-bottom: 32px;
}

.col-4 {
    text-align: center;
}

.jumbotron {
    background-color: rgb(145, 197, 140);
    background-image: url("img/grass-field-sunset-wallpaper-3.jpg");
    background-repeat: no-repeat;
    background-position: 100% 60%;
    height: 300px;
    color:white;
}

.bg-custom {
    background-color: green
}

.btn-primary {
    background-color: green;
    border-color: green
}

.btn-primary:hover {
    background-color: rgb(145, 197, 140);
    border-color: green
}

.table .thead-dark th {
    background-color: green;
    border-color: green;
}

@media (max-width: 575px) { 
    .img-resize {
        height: 286.48px;
    } 
}

@media (min-width: 576px) { 
.img-resize {
    height: 111px;
    }
    .wthree-slider {
        min-height:280px;
    }   
}

@media (min-width: 768px) {
.img-resize {
    height: 156px;
    }  
}

@media (min-width: 992px) { 
    .img-resize {
        height: 216px;
    }
 }

@media (min-width: 1200px) { 
.img-resize {
    height: 260px;
}
}

.mySlides {
    height: auto;
    width: 80%;
}

.map-style {
    align-content: center;
    width: 90%;
    height: 90%;
    margin: auto 0;
}

#about-us {
    height: 400px;
    max-height: 400px;
}


body {
    background-color: rgb(245, 240, 240)
}

/* Call us button styles */

.phonelink{
    position: fixed; /* Lock location always on the scree */
    bottom: 0; /* Set to the bottom */
    right: 0; /* Set to the right */
    margin: 30px; /* Add space around background */
}
.phoneicon{
    width: 40px; /* Set width of icon */
    height: 40px; /* Set height of icon */
}

.scrollTop {
    position:fixed;
    bottom:0;
    left:0;
    margin: 30px;
    display: none;
}

.scrollicon {
    width: 40px;
    height:40px;
}
@media screen and (max-width: 480px){
    .lgscreenphone{
        display: none;  /* On small screens make phone icon disappear */
    }
    .mbscreenphone{
        display: block; /* On small screens make phone icon appear */
    }
}
@media screen and (min-width: 481px){
    .mbscreenphone{
        display: none; /* On large screens make phone icon disappear */
    }
    .lgscreenphone{
        display: block; /* On large screens make phone icon appear */
    }
}


/* Test Slider */

/* slides images */
.wthree-slider {
    background-image: url("../pub/img/Slider.png");
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    /* -webkit-animation: slideleft 20000s infinite linear; */
    background-size: cover;
    min-height: 300px;
    margin-bottom: 16px;
}

@keyframes slideleft {
    from {
        background-position: 0%;
    }

    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }

    to {
        background-position: 90000%;
    }
}
